@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  margin: 0;
}

/* Shared Styles */
.btn{
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 12px 25px;
    font-size: 15px;
    font-weight: 700;
    color: #006A50;
    cursor: pointer;
}

.title-h4{
    font-size: 30px;
    font-weight: bold;
}
.title-gray{
    color: #0E0E0E;
    opacity: 50%;
    font-size: 20px;
    font-weight: 400;
}
.section-header{
    color: #0E0E0E;
    font-size: 30px;
    font-weight: bold;

}
.description-title{
    color: #0E0E0E;
    opacity: 80%;
    font-size: 20px;
    font-weight: bold;
}
.description{
    color: #0E0E0E;
    opacity: 80%;
    font-size: 15px;
    font-weight: 400;
}
/* Nav bar section styles */
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}
/* Banner section styles */
.banner-section{
    margin: 40px 130px;  
}
.Banner-title{
    font-size: 40px;
    font-weight: bold;
    margin: 30px auto;
}
.banner-container{
    padding: 50px;
    background-color: #C6E4D6;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.hero-img-container{
    width: 60%; 
}
.hero-img-container img{
    width: 100%;
}

/* Main Section Styles */
.main-section{
    background-color: #F1F1F3;
    opacity: 80%;
}
/* Pillars Section styles */
.pillars-section{
    margin: 40px 130px;
    

}
.pillars-section h1{
    padding: 30px 0;
}
.card-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.card{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 15px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 15px;
    border: 1px solid #0e0e0e26;
    box-shadow:black;
}
.card img{
    width: 30px;
    height: 30px;

}
/* Vision Section Styles */
.vision-section{
    margin: 40px 130px;
    
}
.vision-section .des-gap{
    margin: 20px 0;
}
.vision-card-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.vision-card{
    padding: 30px;
    border-radius: 16px;

}
.vision-card p{
    margin: 20px 0;
}
/* Card-1 */
.v-c1{
    background: #5490f533;
    border-color: #5490f5FF;
}
.v-c1 button{
    background: #5490F5;
    color: #FFFFFF;
    border: none;
}
/* Card-2 */
.v-c2{
    background: #c6e4d6FF;
    border-color: #09a15cFF;
}
.v-c2 button{
    background: #09a15cFF;
    color: #FFFFFF;
    border: none;
}
/* Card-3 */
.v-c3{
    background: #f7ebcfFF;
    border-color: #ffc239FF;
}
.v-c3 button{
    background: #ffc239FF;
    color: #FFFFFF;
    border: none;
}

.vision-card img{
    height: 30px;
    width: 30px;

}
